:root {
  --bg-color: #272729;
  --text-color: #d1d1d1;
  --title-color: #3a6140;

  --title-color-light1: color-mix(in srgb, var(--title-color), white 20%);
  --title-color-light2: color-mix(in srgb, var(--title-color), white 50%);
  --title-color-dark1: color-mix(in srgb, var(--title-color), black 10%);
  --title-color-dark2: color-mix(in srgb, var(--title-color), black 20%);

  --font-family: 'Courier New', Courier, monospace;
}


body {
  margin: 0;
  padding: 2rem;
  background-color: var(--bg-color);
  color: var(--text-color);
  font-size: 1rem;
  font-family: var(--font-family);
}

p {
  margin-bottom: 1.5rem; 
}

a {
    color: var(--link-color)
}

a:hover {
  color: var(--title-color-light2);
}

a:active {
  color: var(--title-color-light1);
}

h1, h2, h3, h4, h5, h6 {
  color: var(--title-color);
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
}

img {
  width: 50%;
  height: auto;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 10px;
  padding: 10px;
}

.gallery img {
  width: 100%;
  height: auto;
  display: block;
}

.gallery video {
  width: 100%;
  height: auto;
  display: block;
}

.spacer {
  height: 1rem;
}


